<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding Greatest Number</title>
</head>
<body>
    <h1>The Greatest Number<h1>
    <form action="/calc" method="POST">
        <input type="number" name = "number1"><br>
        <input type="number" name = "number2"><br>
        <input type="number" name = "number3"><br>
        <input type="number" name = "number4"><br>
        <input type="number" name = "number5"><br>
        <button>Calculate Greatest Number</button>
    </form>
</body>
</html>